@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-geist-sans);
  --font-sans: var(--font-geist-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-shell-header: var(--shell-header);
  --color-shell-header-foreground: var(--shell-header-foreground);
  --color-shell-content: var(--shell-content);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #F7F6F2;
  --foreground: #20242A;

  --card: #F1F0EC;
  --card-foreground: #20242A;

  --popover: #F1F0EC;
  --popover-foreground: #20242A;

  --primary: #71C698;
  --primary-foreground: #20242A;

  --secondary: #98DDB6;
  --secondary-foreground: #20242A;

  --muted: #e6eae4;
  --muted-foreground: #60706d;

  --accent: #ddf7ec;
  --accent-foreground: #20242A;

  --success: #98DDB6;
  --success-foreground: #20242A;

  --warning: #F0C994;
  --warning-foreground: #20242A;

  --error: #E7AAAA;
  --error-foreground: #20242A;

  --destructive: var(--error);
  --destructive-foreground: var(--error-foreground);

  --border: #F0EDE2;
  --input: #c9d2ca;
  --ring: #50B17D;

  --shell-header: #FCFCFA;
  --shell-header-foreground: #20242A;
  --shell-content: #FCFCFA;

  --sidebar: #FCFCFA;
  --sidebar-foreground: #20242A;
  --sidebar-primary: #FCFCFA;
  --sidebar-primary-foreground: #20242A;
  --sidebar-accent: #71C698;
  --sidebar-accent-foreground: #20242A;
  --sidebar-border: #F0EDE2;
  --sidebar-ring: #50B17D;

  --chart-1: #8ee3c1;
  --chart-2: #78938a;
  --chart-3: #526b65;
  --chart-4: #354b48;
  --chart-5: #1d312f;

  --radius: 0.625rem;

  --application-sidebar-width: 18rem;
}

.dark {
  --background: #1C1D1E;
  --foreground: #F7F6F2;

  --card: #202325;
  --card-foreground: #F7F6F2;

  --popover: #202325;
  --popover-foreground: #F7F6F2;

  --primary: #71C698;
  --primary-foreground: #20242A;

  --secondary: #98DDB6;
  --secondary-foreground: #20242A;

  --muted: #1a272e;
  --muted-foreground: #9baaa7;

  --accent: #18362f;
  --accent-foreground: #c7f4df;

  --success: #98DDB6;
  --success-foreground: #20242A;

  --warning: #F0C994;
  --warning-foreground: #20242A;

  --error: #E7AAAA;
  --error-foreground: #20242A;

  --destructive: var(--error);
  --destructive-foreground: var(--error-foreground);

  --border: #1A1E20;
  --input: #34464e;
  --ring: #50B17D;

  --shell-header: #202325;
  --shell-header-foreground: #F7F6F2;
  --shell-content: #202325;

  --sidebar: #202325;
  --sidebar-foreground: #F7F6F2;
  --sidebar-primary: #202325;
  --sidebar-primary-foreground: #F7F6F2;
  --sidebar-accent: #71C698;
  --sidebar-accent-foreground: #F7F6F2;
  --sidebar-border: #1A1E20;
  --sidebar-ring: #50B17D;

  --chart-1: #7fe0b7;
  --chart-2: #91aaa2;
  --chart-3: #6d8780;
  --chart-4: #4a625d;
  --chart-5: #304642;
}

:root[data-sidebar-state="collapsed"]
{
  --application-sidebar-width: 4rem;
}

html.dark [data-appearance-light-only]
{
  display: none;
}

html:not(.dark) [data-appearance-dark-only]
{
  display: none;
}

:root[data-sidebar-state="collapsed"] [data-sidebar-expanded-only]
{
  display: none;
}

:root:not([data-sidebar-state="collapsed"]) [data-sidebar-collapsed-only]
{
  display: none;
}

[data-desktop-application]
{
  display: none;
}

[data-desktop-required]
{
  display: grid;
}

@media (min-width: 40rem)
{
  [data-desktop-application]
  {
    display: block;
  }

  [data-desktop-required]
  {
    display: none;
  }
}

@media (any-hover: none) and (any-pointer: coarse)
{
  [data-desktop-application]
  {
    display: none;
  }

  [data-desktop-required]
  {
    display: grid;
  }
}

@layer base
{
  *
  {
    @apply border-border outline-ring/50;
  }

  html
  {
    height: 100%;
    color-scheme: light;
    @apply font-sans;
  }

  html.dark
  {
    color-scheme: dark;
  }

  body
  {
    height: 100%;
    overflow: hidden;
    @apply bg-background text-foreground antialiased;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled)
  {
    cursor: pointer;
  }
}
